
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="“订饭组（dingfanzu.com）”是北京地区知名的在线外卖订餐O2O平台，是写字楼白领专属订餐网站。已覆盖北京数百个写字楼，数十万用户，聚集了数千家餐饮商户。订外卖，找订饭组。" />
    <script src="__ROOT__/static/scripts/baidu_js_push.js"></script>
    <script src="__ROOT__/static/scripts/jquery-1.8.3.js"></script>
    <script src="__ROOT__/static/scripts/jquery.reveal.js"></script>
    <script src="__ROOT__/static/scripts/jquery.cookie.js"></script>
    <script type='text/javascript' src='__ROOT__/static/js/city/citylist.js'></script>
    <script type='text/javascript' src='__ROOT__/static/js/querycity.js'></script>
    <link href='__ROOT__/static/css/city/cityquery.css' rel="stylesheet" type="text/css" />
    <link rel="icon" href="__ROOT__/static/images/favicon.ico" type="image/x-icon" />
    <link rel=stylesheet href="__ROOT__/static/style/reset.css">
    <link rel=stylesheet href="__ROOT__/static/style/common.css">
    <link rel=stylesheet href="__ROOT__/static/style/base.css">
    <link rel=stylesheet href="__ROOT__/static/style/header.css">
    <link rel=stylesheet href="__ROOT__/static/style/shopcart.css">
    <link rel=stylesheet href="__ROOT__/static/style/place.css">
    <link rel=stylesheet href="__ROOT__/static/style/footer_1.css">
    <link rel=stylesheet href="__ROOT__/static/style/reveal.css">
    <link rel=stylesheet href="__ROOT__/static/style/login.css">
    <title>订饭组-写字楼外卖_订餐组_订餐官网</title>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?9bb651f2bb5622d49b0299560d6559cd";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>
<body>

<!--header部分-->
{include file="public/header" /}
<!--内容部分-->
<div class="place-content">
    {include file="index/channel" /}
    <div style="text-align: center;color: red;font-size: 16px">★★★推荐商家★★★</div>
    {include file="public/shop" /}
</div>
    <div class="footer-content">
        <div class="footer-content-entrance">
            <a class="footer-content-link" href="/about.html?p=guanyuwomen">关于我们</a>
            <span class="footer-content-separator">|</span>
            <a class="footer-content-link footer-content-weixing">关注微信
                <img class="weixin-pic" src="images/qr_code.jpg">
            </a>
            <span class="footer-content-separator">|</span>
            <a class="footer-content-link" href="/about.html?p=tousujianyi">投诉建议</a>
            <span class="footer-content-separator">|</span>
            <a class="footer-content-link kaidian_address" href="/about.html?p=shangjiaruzhu">商家入驻</a>

        </div>
        <div class="footer-content-copyright">©2016 dingfanzu.com <a target="_blank">京ICP证020666号</a> </div>
    </div>
    <div class="shop-cart shadow n">
        <div class="shop-head">
            购物车<a class="shop-clear">[清空]</a>
        </div>
        <div class="shop-body">


            <div class="isnull">
                <span></span>
                <b>购物车空空如也</b>
            </div>
        </div>
        <div class="shop-bottom">
            <div class="bottom-price fl">总计：￥<label>32</label>
            </div>
            <div class="bottom-icon"></div>
            <div class="bottom-pay fr">
                <a id="cart-pay">结算</a>
            </div>
        </div>
    </div>


{include file="public/login" /}

<!--提示框-->
{include file="public/tip" /}

<script src="__ROOT__/static/scripts/common.js"></script>
<script src="__ROOT__/static/scripts/md5.js"></script>
<script src="__ROOT__/static/scripts/myInfo.js"></script>
<script src="__ROOT__/static/scripts/login.js"></script>
<script src="__ROOT__/static/scripts/cart.lib.js"></script>
<script src="__ROOT__/static/scripts/cart.js"></script>
<script src="__ROOT__/static/scripts/header.js?v=1"></script>
<script src="__ROOT__/static/scripts/footer.js"></script>
<script type="text/javascript">
    $(function(){
        //初始化购物车
        initCart();

        //footer
        processFooter();

        //地址悬浮
        $(".place-cc a,.place-nav").hover(function() {
            $('.place-nav').show();
        }, function() {
            $('.place-nav').hide();
        });

        //购物车相关
        var shopCartWidth=$(".shop-cart").width();
        //默认隐藏购物车
        $(".shop-cart,.shop-bottom").css("right",-shopCartWidth);
        var mRight=-shopCartWidth;

        $("#cart").click(function(){
            $('.shop-cart').show();
            //适配购物车
            processShopItem();

            shopCartWidth=$(".shop-cart").width();
            if(mRight=='0px'){
                mRight=-shopCartWidth;
                $(".shop-cart,.shop-bottom").animate({right:mRight},200);
            }
            else{
                mRight='0px';
                $(".shop-cart,.shop-bottom").animate({right:mRight},200);
            }
        });




        //中间高
        var zw=$(window).width();
        var middleWidth=$('.place-wrap').width();
        var middleHeight=$('.place-wrap').height();
        var marginLeft=(zw-middleWidth)/2;
        $(".place-wrap-1").css("marginLeft",marginLeft);
        $(".place-wrap-1").show();

        //地址选择悬浮
        $(".place-nav").css("left",marginLeft+32);//再加32
        //地址点击
        $('.city').click(function(event) {
            if($(this).text()!="北京"){
                showAlert("该城市未开通");
            }else{
                window.location.reload();
            }
        });

        //弹出动画
        $(".place-wrap").animate({"opacity":"0.9"}, 200);




        $(window).resize(function(){
            //中间高
            var zw=$(window).width();
            var middleWidth=$('.place-wrap').width();
            var middleHeight=$('.place-wrap').height();
            var marginLeft=(zw-middleWidth)/2;
            $(".place-wrap-1").css("marginLeft",marginLeft);
            //地址选择悬浮
            $(".place-nav").css("left",marginLeft+32);

            //适配购物车
            processShopItem();

            $('.shop-cart').hide();
            var shopCartWidth=$(".shop-cart").width();
            //默认隐藏购物车
            $(".shop-cart,.shop-bottom").css("right",-shopCartWidth);
            mRight=-shopCartWidth;

            processFooter();
        });


        //tab点击事件
        $('.place-tab a').click(function(){
            //变样式
            var cl=$(this).parents('.place-tab').find('a');
            cl.removeClass('alive');
            $(this).addClass('alive');
            var pid=$(this).attr('id');
            $('.place-names').hide();
            var n="#"+pid.replace('t','n');
            $(n).show();
        });
    });

    function processFooter(){
        var zh=$(document.body).height();
        $(".footer-content").css('top', zh-60);
        $(".footer-content").show();
    }
    var url = "<?php echo config('__INDEX__') ?>";
</script>
</body>
</html>

<script>
    var one='<?php echo $one ?>';
    var two='<?php echo $two ?>';
    var three='<?php echo $three ?>';
    var four='<?php echo $four  ?>';
    var five='<?php echo $five ?>';
    var six='<?php echo $six ?>';
    var city='<?php echo $city ?>';
    one = JSON.parse(one);
    two = JSON.parse(two);
    three = JSON.parse(three);
    four = JSON.parse(four);
    five  = JSON.parse(five);
    six  = JSON.parse(six);
    city = JSON.parse(city);
    var labelFromcity = new Array();
    labelFromcity ['热门城市'] = new Array(0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40);
    labelFromcity ['A-E'] = one;
    labelFromcity ['F-I'] = two;
    labelFromcity ['J-M'] = three;
    labelFromcity ['N-R'] = four;
    labelFromcity ['S-W'] = five;
    labelFromcity ['X-Z'] = six;
    var hotList = new Array(14,15,16,17,18,19);

    $(document).ready(function(){
        $('#now').querycity({'data':city,'tabs':labelFromcity,'hotList':hotList});
    });
</script>