<div class="content-left fl">
    <div class="menu-left">
        <dl>
            <dt>个人中心</dt>
            <dd class="menu-item">
                            <span class="left-icon">
                                <img src="__ROOT__/static/images/icon_order.png" width="18px" height="18px">
                            </span>
                <a href="order">我的订单</a>
            </dd>
            <dd class="menu-item">
                            <span class="left-icon">
                                <img src="__ROOT__/static/images/icon_address.png" width="18px" height="18px">
                            </span>
                <a href="address">收货地址</a>
            </dd>
            <dd class="menu-item">
                            <span class="left-icon">
                                <img src="__ROOT__/static/images/icon_score.png" width="18px" height="18px">
                            </span>
                <a href="score">我的积分</a>
            </dd>
            <dd class="menu-item">
                            <span class="left-icon">
                                <img src="__ROOT__/static/images/icon_balance.png" width="18px" height="18px">
                            </span>
                <a href="balance">我的余额</a>
            </dd>
            <dd class="menu-item active">
                            <span class="left-icon">
                                <img src="__ROOT__/static/images/icon_settings.png" width="18px" height="18px">
                            </span>
                <a href="tosetting">账户设置</a>
            </dd>
        </dl>
    </div>
</div>